
html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: $medium-size;
  background: lighten($off-white, 19%)
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.nav-link {
  text-decoration: none;
  background-color: white;
  color: #0E1333;
  font-family: 'Gilroy-ExtraBold', sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 25px;
  padding-right: 25px;
}

.nav-link:hover, .active:hover {
  background-color: #0E1333;
  color: #fff;
}

.active-Style {
  font-weight: bold;
  text-decoration: underline;
}