// colors

$off-black: #20222b;
$off-white: #a5afd7;
$bg-blue: #333745;
$widgetHeader-blue: #3c4151;
$widgetBody-blue: #464b5e;
$bigButtonColor: #8357c5;

// font sizes
$small-size: 1.2rem;
$medium-size: 1.6rem;
$large-size: 3.2rem;
$big-size: 4.8rem;

// breakpoints

$desktop-breakpoint: 45rem;